# Configuración de Telegram (reemplaza con tus valores reales)
TOKEN_TELEGRAM=tu_token_aqui
CHAT_ID=tu_chat_id_aqui

# Nombres válidos (separados por comas)
NOMBRES_VALIDOS= nombre1, nombre2, nombre3
